<h1>My Tenants</h1>
<br>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>City</th>
    <th>ZIP</th>
    <th>Property</th>
  </tr>

<% @tenants.each do |l| %>
  <tr>
    <td><%= l.name %></td>
    <td><%= l.street %></td>
    <td><%= l.city %></td>
    <td><%= l.zip %></td>
    <td><%= l.property.name %></td>
    <td><%= link_to 'edit', edit_tenant_path(l.id) %></td>
    <td><%= link_to 'delete', l, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>

<% end %>

</table>
<br>
<br>
<%= link_to 'new', new_tenant_path %>
