<h1>My Properties</h1>
<br>
<table style="width:75%">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Post Code</th>
    <th>Rent</th>
    <th>Charges</th>
  </tr>

<% @properties.each do |l| %>
  <tr>
    <td><%= l.name %></td>
    <td><%= l.city %></td>
    <td><%= l.zip %></td>
    <td><%= l.rent %></td>
    <td><%= l.charges %></td>
    <td><%= link_to 'edit', edit_property_path(l.id) %></td>
    <td><%= link_to 'delete', l, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>

<% end %>

</table>
<br>
<br>
<%= link_to 'new', new_property_path %>


