<h1>Mon profile</h1>

<ul>
  <li>Nom: <%= @landlord.name%></li>
  <li>Rue: <%= @landlord.street%><li>
  <li>Ville: <%= @landlord.city%></li>
  <li>Code Postal: <%= @landlord.zip%></li>
  <li>Tel: <%= @landlord.phone%></li>
  <li>Mail: <%= @landlord.email%></li>
</ul>











