<h1><%= @landlord.name%></h1>

<ul>
  <li><%= @landlord.street%><li>
  <li><%= @landlord.city%></li>
  <li><%= @landlord.zip%></li>
  <li><%= @landlord.phone%></li>
  <li><%= @landlord.email%></li>
</ul>

<h1>My Properties</h1>

<%= render 'properties' %>











